.current {
  color: var(--text-hover-color);
  position: relative;
  
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    background: #2196f3;
    border-radius: 2px;
    border: 1px solid #2196f3;
    width: 100%;
    height: 4px;
    transform: translateY(1px);
  }
}